﻿@model Trayport.RallyDev.WebApi.Models.Home.IterationsViewModel

@helper Render(Trayport.RallyDev.RallyIteration iteration)
{
   <div class="iteration" draggable="true" ondragstart="onIterationDragStart(event)">
      <div style="height: 120px;">
         <strong>@iteration.Name</strong><br />
         End date: @iteration.EndAt.ToString("yyyy/MM/dd")<br />
         (
      @if (iteration.EndAt < DateTime.Now.Date)
      {
         <text>Already ended</text>
      }
      else
      {
         <text>in </text> @(iteration.EndAt.Subtract(DateTime.Now).Days) <text>days and </text> @(iteration.EndAt.Subtract(DateTime.Now).Hours) <text>hours</text>
      }
         )
         
      </div>
      <div style="text-align: left;margin-top: 15px; float: left">
         @Html.ActionLink("Standup", "Standup", "Home", new { IterationId = iteration.ObjectID, IterationName = iteration.Name, ProjectId = Model.ProjectId, ProjectName = Model.ProjectName }, null)
      </div>
      <div style="text-align: right;margin-top: 15px; float: right">
         @Html.ActionLink("Print", "ShowPrintIteration", "Home", new { iterationId = @iteration.ObjectID }, new { target = "_blank" })
      </div>
   </div>
}

<script>
   $(document).ready(function () {
   });

   function onIterationDragStart(e) {
   }

</script>

<div style="float: none; clear: both;">
   <h3>Iterations: </h3>
   @if (Model.Iterations != null)
   {
      foreach (var iteration in Model.Iterations)
      {
        @Render(iteration);
      }
   }
</div>
