﻿@model Trayport.RallyDev.WebApi.Models.Home.PrintIterationViewModel
@{
    Layout = null;
}
@helper DrawTask(Trayport.RallyDev.WebApi.Models.Home.TaskPrintModel task)
{
    <div class="task">
        <div style="width: 100%">
            <div style="float: left;">@task.UserStoryFormattedId</div>
            <div style="float: right; text-align: right">@task.EstimatedHours</div>
        </div>
        <div style="float: none; clear: both;">@task.FormattedId</div>
        <div style="float: none; clear: both; height: 65%; font-size: 0.9em">@task.Name.Substring(0, Math.Min(60, task.Name.Length))...</div>
        <div>
            <div style="float: left;">SD:</div>
            <div style="float: right; text-align: right; margin-right: 80px;">ED:</div>
        </div>
    </div>
}

@helper DrawUserStory(Trayport.RallyDev.WebApi.Models.Home.UserStoryPrintModel userStory)
{
    <div class="userStory">
        <div style="width: 100%">
            <div style="float: left;">@userStory.FormattedId</div>
            <div style="float: right; text-align: right">@userStory.EstimatedPoints</div>
        </div>
        <br />
        <div style="float: none; clear: both; height: 78%;">@userStory.Name.Substring(0, Math.Min(130, userStory.Name.Length))...</div>
        <div>
            <div style="float: left;">SD:</div>
            <div style="float: right; text-align: right; margin-right: 170px;">ED:</div>
        </div>
    </div>
}

@helper DrawTestCase(Trayport.RallyDev.WebApi.Models.Home.TestCasePrintModel test)
{
    <div class="testCase">
        <div style="width: 100%">
            <div style="float: left;">@test.UserStoryFormattedId</div>
        </div>
        <br />
        <div style="width: 100%">
            <div style="float: left;">@test.FormattedId</div>
        </div>
        <div style="width: 100%">
            <div style="float: left;">
            </div>
            <br />
            <div style="float: left; clear: both; height: auto;">Given @Html.Raw(test.Given)</div>
            <br />
            <div style="float: left; clear: both; height: auto;">When @Html.Raw(test.When)</div>
            <br />
            <div style="float: left; clear: both; height: auto;">Then @Html.Raw(test.Then)</div>
            <br />
        </div>
    </div>
}
<html>
<head>
    <title>Print iteration</title>
    <link rel="stylesheet" href="~/Content/print.css" />
</head>
<body>
    @{
        var count = 0;
        foreach (var userStory in Model.UserStories)
        {
            count++;
        @DrawUserStory(userStory)
            if (count % 4 == 0)
            {
        <div class="break">.</div>
            }
        }

        <div class="break">.</div>
        count = 0;
        foreach (var task in Model.Tasks)
        {
        @DrawTask(task)
            count++;
            if (count % 8 == 0)
            {
        <div class="break">.</div>
            }
        }

        <div class="break">.</div>
        count = 0;
        foreach (var test in Model.Tests)
        {
        @DrawTestCase(test)
            count++;
            if (count % 4 == 0)
            {
        <div class="break">.</div>
            }
        }
    }

</body>
</html>
