﻿@model Trayport.RallyDev.WebApi.Models.Home.IndexViewModel
@section scripts 
{
    <script type="text/javascript" src="~/Scripts/controllers/projectsListController.js"></script>
}
<div ng-controller="ProjectsListController">
    {{projects}}
   @foreach (var project in Model.Projects)
   {
      <div class="project" draggable="true" ondragstart="onProjectDragStart(event)" onclick="document.location.href='@Url.Action("Iterations", "Home", new { ProjectId = project.ObjectID, ProjectName = project.Name })'">
         @project.Name
      </div>
   }
</div>
