﻿@using Trayport.RallyDev.WebApi.Models.Home
@model StandupViewModel

@helper DrawTask(TaskDataModel task)
{
   <div class="task @task.State.ToLowerInvariant() @if (task.Blocked)
                                                   { <text>blocked</text>}" draggable="true" ondragstart="onTaskDragStart(event)">
      <span class="important" @if (task.Blocked)
                              {<text>style="color: red;"</text>}><strong>@task.FormattedId</strong> - @task.Name.Substring(0, Math.Min(80, task.Name.Length))...</span><br />
      @task.Name <a class="small" href="https://rally1.rallydev.com/#/10602877338d/detail/task/@task.ObjectId" style="font-style: italic">Rally</a><br />
      Owner: <strong>@(task.OwnerName ?? "No owner")</strong> - <strong>@task.State</strong> Rank: @task.Rank<br />
      Est: @task.Estimate hrs / <strong>To do: @task.ToDo hrs</strong> Last Updated: @task.LastUpdateDate.ToString("yyyy/MM/dd HH:mm")<br />
      @if (task.Blocked)
      {
         <text>Blocked:</text>
         @(task.BlockedReason ?? "No reason provided")
      }
@*@task.PrettyFormat()*@
   </div>
}

@helper DrawUserStory(UserStoryDataModel userStory)
{
   <div class="userStory @userStory.ScheduleState.ToLowerInvariant()" draggable="true" ondragstart="onTaskDragStart(event)">
      <span class="important"><strong>@userStory.FormattedId</strong></span> - <span class="important">@userStory.Name.Substring(0, Math.Min(80, userStory.Name.Length))...</span><br />
      @userStory.Name <a class="small" href="https://rally1.rallydev.com/#/10602877338d/detail/task/@userStory.ObjectId" style="font-style: italic">See it in Rally</a><br />
      @(userStory.OwnerName ?? "No owner") - @userStory.ScheduleState Rank: @userStory.Rank<br />
      Est: @userStory.TaskEstimateTotal hrs / <strong>To do: @userStory.TaskRemainingTotal hrs</strong> Last Updated: @userStory.LastUpdateDate.ToString("yyyy/MM/dd HH:mm")<br />
      @*@task.PrettyFormat()*@
      @if (userStory.Tasks != null)
      {
         foreach (var task in userStory.Tasks)
         {
         @DrawTask(task)
         }
      }
   </div>
}

<script>
   $(document).ready(function () {
      $("div.userContainer").hide();
   });

   var selectedUsername = null;
   var selectedUserTotalToDoHours = null;

   function onUserDragStart(e) {
   }

   function onTaskDragStart(e) {
   }

   function onUserClick(userid, username) {
      console.log('Click on ' + userid + ": " + username);
      selectedUsername = username;
      $("div.userContainer").hide();
      $('div.userContainer[data-user="' + userid + '"]').show();
   }
</script>
<div style="float: none; clear: both; max-width: 71%; text-align: center; font-size: 0.8em">
   @foreach (var user in Model.Users)
   {
      <div class="user" draggable="true" ondragstart="onUserDragStart(event)" onclick="onUserClick(@user.Id, '@user.Name')">
         @user.Name<br />
      </div>
   }
</div>
<div style="float: none; clear: both; font-size: .6em; max-width: 71%;">
   @foreach (var user in Model.Users)
   {
      <div class="userContainer" style="padding: 5px; float: left; clear: both;" data-user="@user.Id">
         <div style="margin-top: 2px; font-size: 1.5em;">
            <div style="float: left; margin-left: 2px">
               <strong>@Model.IterationName</strong> Project: <strong>@Model.ProjectName</strong>
               User: <strong>@user.Name</strong>
            </div>
         </div>
         <div style="float: right;">
            <div class="statistics" style="float: left; margin-left: 2px; background-color: lightyellow;">Est ToDo: @user.TotalPendingHours hrs</div>
            <div class="statistics" style="background-color: lightgreen; margin-left: 2px; float: left;">Completed: @user.TotalCompletedHours hrs</div>
            <div class="statistics" style="background-color: lightyellow; margin-left: 2px; float: left; color: red">Blocked tasks: @user.TotalBlockedTasks</div>
         </div>
         <div style="float: none; clear: both">
            <h2>Tasks updated since "yesterday" <strong>@user.Yesterday.ToString("yyyy/MM/dd")</strong>
               @if (user.TotalBreakDays > 1)
               {
                  <span style="color: red">(Did you enjoy your @user.TotalBreakDays days without doing anything for this project?)</span>
               }
               :
                  @if (!user.UpdatedSinceYesterdayUserStories.Any())
                  {
                     <text> NONE</text>
                  }

            </h2>
            @foreach (var userStory in user.UpdatedSinceYesterdayUserStories)
            {
               @DrawUserStory(userStory)
            }
         </div>
         <div style="float: none; clear: both">
            <h2>Tasks in progress:
                  @if (!user.InProgressUserStories.Any())
                  {
                     <span style="color: red;">NONE, you lazy boy!</span>
                  }
               @if (user.Id != 0 && user.InProgressUserStories.Count() > 1)
               {
                  <span style="color: red;">More than 1!</span>
               }
            </h2>
            @foreach (var userStory in user.InProgressUserStories)
            {
               @DrawUserStory(userStory)
            }
         </div>
         <div style="float: none; clear: both">
            <h2>All tasks:
                  @if (!user.AllUserStories.Any())
                  {
                     <span style="color: red">NONE. What have you been doing lately!?</span>
                  }
            </h2>
            @foreach (var userStory in user.AllUserStories)
            {
               @DrawUserStory(userStory)
            }
         </div>
      </div>
   }
</div>
<div style="max-width: 30%; padding: 2px; background-color: white; opacity: 0.5; position: fixed; right: 0px; top: 20px; font-size: .5em;" draggable="true">
   @{ var allUsersUser = Model.Users.Single(x => x.Id == 0);}
   @foreach (var userStory in allUsersUser.AllUserStories)
   {
      var userStoryBackgroundColor = "yellow";
      var userStoryColor = "red";
      switch (userStory.ScheduleState.ToLowerInvariant())
      {
         case "completed": { userStoryBackgroundColor = "blue"; userStoryColor = "white"; break; }
         case "accepted": { userStoryBackgroundColor = "green"; userStoryColor = "white"; break; }
      }
      <div style="float: none; clear: both; margin: 2px; padding: 2px; border-top: solid 2px black;">
         <div style="color: @userStoryColor; float: left; margin: 2px; padding: 2px; background: @userStoryBackgroundColor; ">@userStory.FormattedId</div>
         @foreach (var task in userStory.Tasks)
         {
            var taskColor = "lightyellow";
            if (task.Blocked)
            {
               taskColor = "red";
            }
            else
            {
               switch (task.State.ToLowerInvariant())
               {
                  case "completed":
                     {
                        taskColor = "lightgreen";
                        break;
                     }
               }
            }
            <div style="float: left; padding: 2px; margin: 2px; background-color: @taskColor">@task.FormattedId</div>
         }
      </div>
   }
   <div style="float: none; clear: both; background-color: yellow">
      <div>Pending stories: @allUsersUser.AllUserStories.Count(x => x.ScheduleState == "In-Progress") (@allUsersUser.AllUserStories.Where(x => x.ScheduleState == "In-Progress").Sum(x => x.TaskRemainingTotal) est. hrs)</div>
      <div>Completed stories: @allUsersUser.AllUserStories.Count(x => x.ScheduleState == "Completed") (@allUsersUser.AllUserStories.Where(x => x.ScheduleState == "Completed").Sum(x => x.TaskEstimateTotal) est. hrs)</div>
      <div>Accepted stories: @allUsersUser.AllUserStories.Count(x => x.ScheduleState == "Accepted") (@allUsersUser.AllUserStories.Where(x => x.ScheduleState == "Accepted").Sum(x => x.TaskEstimateTotal) est. hrs)</div>
   </div>
</div>
