﻿   body {
      margin: 0px;
      padding: 0px;
      width: 100%;
      float: none;
      /* to centre page on screen*/
      margin-left: auto;
      margin-right: auto;
      font-family: Calibri, Arial, Verdana, 'Times New Roman';
      font-size: 1.5em
   }

   div.userStory {
      float: left;
      margin: 0;
      padding: 3px;
      overflow: hidden;
      border: solid 1px black;
      width: 470px;
      height: 310px;
   }

   div.task {
      float: left;
      margin: 0;
      padding: 3px;
      overflow: hidden;
      border: solid 1px black;
      width: 230px;
      height: 310px;
   }

   div.testCase {
      float: left;
      margin: 0;
      padding: 3px;
      overflow: hidden;
      border: solid 1px black;
      width: 470px;
      height: 310px;
   }

   .column1 {
      float: left;
   }

   .column2 {
      float: right;
   }

@media print {
   div.break {
      page-break-after: always;
   }
}
