﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
<head>
    <title>RallyDev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="Content/bootstrap/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="Content/bootstrap/bootstrap-theme.css" rel="stylesheet" media="screen" />
</head>
<body>
    <div ng-controller="GlobalController">
		<div ng-show="!isSessionValid()">
			<label for="login" style="width: 120px">Login: </label><input type="text" ng-model="login" name="login" style="width: 300px"/><br />
			<label for="password" style="width: 120px">Password: </label><input type="password" ng-model="password" name="login" style="width: 300px"/><br />
			<a href="" ng-click="authenticate()">Authenticate</a><br/>
			{{authenticationError}}
		</div>
		<div ng-show="isSessionValid()">
			<div >
				Hello {{login}}! <a href="" ng-click="logout()">Log out</a>
			</div>
			<div>
				<a href="" ng-click="loadProjects()">Load Projects</a><br/>
				<ul >
					<li ng-repeat="project in projects">
						{{project._refObjectName}}
					</li>
				</ul>
			</div>
		</div>
    </div>
    <script type="text/javascript" src="Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="Scripts/angular.js"></script>
    <script type="text/javascript" src="Scripts/angular-cookies.js"></script>
    <script type="text/javascript" src="Scripts/controllers/globalController.js"></script>
</body>
</html>
