@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet" />
    @RenderSection("head", required: false)
    @* favicons and touch icons go here *@
</head>
<body>
    @using (var nav = Html.Bootstrap().Begin(new Nav().Style(NavType.Tabs)))
    {
        @nav.ActionLink("Projects", "Index", "Home")
        nav.Divider();
        @nav.ActionLink("Log Out", "LogOff", "Account")
    }

    <div class="container">
        @RenderBody()
        <hr>
        <footer>
            <p>&copy; Trayport Ltd @System.DateTime.Now.ToString("yyyy")</p>
        </footer>
    </div>
    @Scripts.Render("~/js")
    @RenderSection("Scripts", required: false)
</body>
</html>

